.edd-db-badge {
	font-size: small;
	background-color: #efefef;
	color: #666;
	vertical-align: middle;
	margin-left: 15px;
	text-decoration: none;
	cursor: default;
	padding: 2px 3px;
}

.edd-db-checkout-cell {
	padding-left: 10px !important;
	padding-right: 10px !important;
	text-align: center !important;
	width: auto;
}

.edd-db-checkout-cell .edd-db-badge {
	margin-left: 0;
}

.widget_edd_cart_widget .edd-db-badge {
	display: none;
}

.edd-db-checkout-cell .edd-db-badge {
	display: block;
}
